.custom_card {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 200px;
  margin: 20px auto;
}
.custom_img {
  max-width: 100%;
}
.basket-button {
  background-color: white;
  color: black;
  border: none;
}
.basket-button:hover {
  background-color: green;
  color: white;
}

.added-to-basket {
  background-color: green;
  color: white;
  border: none;
}

.card_desc {
  display: none;
}

.card_desc_on {
  display: block;
}
.like_on {
  display: none;
}
.like_off {
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  height: 300px;
  color: black;

  padding: 10px;
  margin: 10px;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.details_img {
  max-width: 40%;
}
.comment-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
.btn_delete {
  background-color: white;
  color: red;
  border: none;
}
.btn_delete:hover {
  background-color: red;
  color: white;
}
.btn_edit {
  background-color: white;
  color: blue;
  border: none;
}
.btn_edit:hover {
  background-color: blue;
  color: white;
}
.btn_buy {
  background-color: white;
  color: green;
  border: none;
}
.btn_buy:hover {
  background-color: green;
  color: white;
}
